/* body Style */
body{
    font-family: 'Poppins', sans-serif;
    color: #292828;
}

.main_container{
    width: 90%;
    margin: 0 5%;
}

/* NavBar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    font-size: 30px;
}

.nav_list ul{
    display: flex;
}

.nav_list li{
    list-style: none;
    margin-right: 30px;
}
 
.nav_list li a{
    text-decoration: none;
    font-weight: 700;
    color: #292828;
}


/* Home_page */
.home_page{
    height: 500px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_article{
    width: 500px;
}

.home_article h1{
    font-size: 60px;
}

.home_article span{
    color: palevioletred;
}

.home_article p{
    font-weight: 700;
    margin-bottom: 40px;
}

.home_article a{
    text-decoration: none;
    color: white;
    background-color: palevioletred;
    padding: 10px 50px;
    border-radius: 20px;
}

.home_image img{
    height: 430px;
    width: 370px;
}